
<!doctype html>
<html>
    <head>
        <title>{{ title }} - Todo App</title>
    </head>

    <body>
        <h1 style="text-align:center">To-Do App</h1>

        <br>

        <p style="text-align:center">📅 Current Date and Time is <b>{{today}}, {{curr_time}}</b></p>

        <hr>

        <form action="/add" method="POST">
        	<div style="text-align:center">
        		<label for="title">📝 To-Do Item</label>
        		<input type="text" name="item" placeholder="To Do Item" required=True>

                <label for="due_date">Due Date:</label>
                <input type="date" id="due_date" name="due_date" required=True>
                
                <!-- priority labels - optional and default to None -->
                <label for = "prioirty">&nbsp;&nbsp;⏳ Priority:</label>
                <select name = "priority" id="priority">
                    <option value=""></option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>

                <label for = "tags">&nbsp;&nbsp;🏷️ Tags:</label>
                <input type = "text" name = "tags" placeholder = "family, research...">

        		<button type="submit">Add</button>

        	</div>
        </form>


        <!-- dropdown list naive implementation -->
        <form action="/tagfilter" method="post">
            <div style="text-align:center">
                <label for="tag_filter">Filter by: Tags</label>
                <select id="tag_filter" name="tag_filter">
                    <option value="blank"></option>
                    {% for tag in all_tag_list %}
                        <option value={{tag}}>{{tag}}</option>
                    {% endfor %}
                </select>
                <button type="submit" name="submit_search" value="submit_search">Search</button>
                <button type="submit" name="reset_result" value="reset_result">Reset</button>
                

            </div>
        </form>


        <br>


        <!-- <div id="btnContainer" style="text-align:center">
            <button class="btn active" onclick="filter_date('all')"> All</button>
            <button class="btn" onclick="filter_date('today')"> Today</button>
            <button class="btn" onclick="filter_date('tomorrow')"> Tomorrow</button>
            <button class="btn" onclick="filter_date('later')"> Later</button>
        </div> -->

        <!-- <ol>
        {% for item in to_do_list %}
            {% if item["priority"] == "High" %}
                <li> {{item["content"]}} &ensp; Due Date: {{item["due_date"]}} &ensp; Time Added: {{item["time"]}} &ensp; <code style = "background-color: red">{{item["priority"]}}</code> &ensp; {{item["tags"]}} &ensp; <input type="checkbox" name="done"> &ensp; <a href="/remove/{{item["id"]}}">remove</a> </li>
            {% elif item["priority"] == "Medium" %}
                <li> {{item["content"]}} &ensp; Due Date: {{item["due_date"]}} &ensp; Time Added: {{item["time"]}} &ensp; <code style = "background-color: orange">{{item["priority"]}}</code> &ensp; {{item["tags"]}} &ensp; <input type="checkbox" name="done"> &ensp; <a href="/remove/{{item["id"]}}">remove</a> </li>
            {% elif item["priority"] == "Low" %}
                <li> {{item["content"]}} &ensp; Due Date: {{item["due_date"]}} &ensp; Time Added: {{item["time"]}} &ensp; <code style = "background-color: yellow">{{item["priority"]}}</code> &ensp; {{item["tags"]}} &ensp; <input type="checkbox" name="done"> &ensp; <a href="/remove/{{item["id"]}}">remove</a> </li>
            {% else %}
                <li> {{item["content"]}} &ensp; Due Date: {{item["due_date"]}} &ensp; Time Added: {{item["time"]}} &ensp; {{item["tags"]}} &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <input type="checkbox" name="done"> &ensp; <a href="/remove/{{item["id"]}}">remove</a> </li>
            {% endif %}
        {% endfor %}
        </ol> -->


        <ol>
        {% for item in to_do_list %}
            {% if item["due_date"] == today %}
                {% if item["priority"] == "High" %}
                    <li> <strong>{{item["content"]}}</strong> &emsp; <code>Today</code> &emsp;&ensp; Due Date: {{item["due_date"]}} &ensp; <i>Time Added: {{item["time"]}}</i> &ensp; <code style = "background-color: red">{{item["priority"]}}</code> &ensp; {{item["tags"]}} &ensp; <input type="checkbox" name="done"> &ensp; <a href="/remove/{{item["id"]}}">remove</a> </li>
                {% elif item["priority"] == "Medium" %}
                    <li> <strong>{{item["content"]}}</strong> &emsp; <code>Today</code> &emsp;&ensp; Due Date: {{item["due_date"]}} &ensp; <i>Time Added: {{item["time"]}}</i> &ensp; <code style = "background-color: orange">{{item["priority"]}}</code> &ensp; {{item["tags"]}} &ensp; <input type="checkbox" name="done"> &ensp; <a href="/remove/{{item["id"]}}">remove</a> </li>
                {% elif item["priority"] == "Low" %}
                    <li> <strong>{{item["content"]}}</strong> &emsp; <code>Today</code> &emsp;&ensp; Due Date: {{item["due_date"]}} &ensp; <i>Time Added: {{item["time"]}}</i> &ensp; <code style = "background-color: yellow">{{item["priority"]}}</code> &ensp; {{item["tags"]}} &ensp; <input type="checkbox" name="done"> &ensp; <a href="/remove/{{item["id"]}}">remove</a> </li>
                {% else %}
                    <li> <strong>{{item["content"]}}</strong> &emsp; <code>Today</code> &emsp;&ensp; Due Date: {{item["due_date"]}} &ensp; <i>Time Added: {{item["time"]}}</i> &ensp; {{item["tags"]}} &emsp; <input type="checkbox" name="done"> &ensp; <a href="/remove/{{item["id"]}}">remove</a> </li>
                {% endif %}
            {% elif item["due_date"] == tomorrow %}
                {% if item["priority"] == "High" %}
                    <li> <strong>{{item["content"]}}</strong> &ensp; <code>Tomorrow</code> &ensp; Due Date: {{item["due_date"]}} &ensp; <i>Time Added: {{item["time"]}}</i> &ensp; <code style = "background-color: red">{{item["priority"]}}</code> &ensp; {{item["tags"]}} &ensp; <input type="checkbox" name="done"> &ensp; <a href="/remove/{{item["id"]}}">remove</a> </li>
                {% elif item["priority"] == "Medium" %}
                    <li> <strong>{{item["content"]}}</strong> &ensp; <code>Tomorrow</code> &ensp; Due Date: {{item["due_date"]}} &ensp; <i>Time Added: {{item["time"]}}</i> &ensp; <code style = "background-color: orange">{{item["priority"]}}</code> &ensp; {{item["tags"]}} &ensp; <input type="checkbox" name="done"> &ensp; <a href="/remove/{{item["id"]}}">remove</a> </li>
                {% elif item["priority"] == "Low" %}
                    <li> <strong>{{item["content"]}}</strong> &ensp; <code>Tomorrow</code> &ensp; Due Date: {{item["due_date"]}} &ensp; <i>Time Added: {{item["time"]}}</i> &ensp; <code style = "background-color: yellow">{{item["priority"]}}</code> &ensp; {{item["tags"]}} &ensp; <input type="checkbox" name="done"> &ensp; <a href="/remove/{{item["id"]}}">remove</a> </li>
                {% else %}
                    <li> <strong>{{item["content"]}}</strong> &ensp; <code>Tomorrow</code> &ensp; Due Date: {{item["due_date"]}} &ensp; <i>Time Added: {{item["time"]}}</i> &ensp; {{item["tags"]}} &emsp; <input type="checkbox" name="done"> &ensp; <a href="/remove/{{item["id"]}}">remove</a> </li>
                {% endif %}
            {% else %}
                {% if item["priority"] == "High" %}
                    <li> <strong>{{item["content"]}}</strong> &emsp; <code>Later</code> &emsp;&ensp; Due Date: {{item["due_date"]}} &ensp; <i>Time Added: {{item["time"]}}</i> &ensp; <code style = "background-color: red">{{item["priority"]}}</code> &ensp; {{item["tags"]}} &ensp; <input type="checkbox" name="done"> &ensp; <a href="/remove/{{item["id"]}}">remove</a> </li>
                {% elif item["priority"] == "Medium" %}
                    <li> <strong>{{item["content"]}}</strong> &emsp; <code>Later</code> &emsp;&ensp; Due Date: {{item["due_date"]}} &ensp; <i>Time Added: {{item["time"]}}</i> &ensp; <code style = "background-color: orange">{{item["priority"]}}</code> &ensp; {{item["tags"]}} &ensp; <input type="checkbox" name="done"> &ensp; <a href="/remove/{{item["id"]}}">remove</a> </li>
                {% elif item["priority"] == "Low" %}
                    <li> <strong>{{item["content"]}}</strong> &emsp; <code>Later</code> &emsp;&ensp; Due Date: {{item["due_date"]}} &ensp; <i>Time Added: {{item["time"]}}</i> &ensp; <code style = "background-color: yellow">{{item["priority"]}}</code> &ensp; {{item["tags"]}} &ensp; <input type="checkbox" name="done"> &ensp; <a href="/remove/{{item["id"]}}">remove</a> </li>
                {% else %}
                    <li> <strong>{{item["content"]}}</strong> &emsp; <code>Later</code> &emsp;&ensp; Due Date: {{item["due_date"]}} &ensp; <i>Time Added: {{item["time"]}}</i> &ensp; {{item["tags"]}} &emsp; <input type="checkbox" name="done"> &ensp; <a href="/remove/{{item["id"]}}">remove</a> </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        </ol>

        <hr>

        <form action="/output" method="post">
            <div style="text-align:center">
                <button type="submit" name="output" value="output">Output To-do List to Google Sheets</button>               
            </div>
        
        </form>

        <footer class="footer" style="text-align:center">
            <div class="container">
                <p class="text-muted"><small>© Build by Yixuan Qiu and Luhang Sun with ❤️</small></p>
            </div>
        </footer>

    </body>

</html>