
<!doctype html>
<html>
    <head>
        <title>{{ title }} - Todo App</title>
    </head>

    <body>
        <h1>To-Do App</h1>

        <hr>

        <p>Current Date and Time is {{date_time}}</p>

        <hr>

        <form action="/add" method="post">
        	<div>
        		<label for="title">To-Do Item</label>
        		<input type="text" name="item" placeholder="To Do Item Text">
        		<button type="submit">Add</button>

        	</div>
        </form>

        {% for item in to_do_list %}
        	<p> {{item}} </p>
        	<a href="/remove/{{item}}">remove</a>
        {% endfor %}

        <hr>

        <footer class="footer">
            <div class="container">
                <p class="text-muted"><small>©Yixuan Qiu and Luhang Sun</small></p>
            </div>
        </footer>

    </body>

</html>