
<!doctype html>
<html>
    <head>
        <title>{{ title }} - Todo App</title>
    </head>

    <body>
        <h1>To-Do App</h1>

        <hr>

        <p>Current Date and Time is {{date_time}}</p>

        <hr>

        <form action="/add" method="post">
        	<div>
        		<label for="title">To-Do Item</label>
        		<input type="text" name="item" placeholder="To Do Item" required=True>
                
                <!-- priority labels - optional and default to Medium -->
                <label for = "prioirty">&nbsp;&nbsp;Priority:</label>
                <select name = "priority" id="priority">
                    <option value=""></option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>

                <label for = "tags">&nbsp;&nbsp;Tags:</label>
                <input type = "text" name = "tags" placeholder = "family, research...">

        		<button type="submit">Add</button>

        	</div>
        </form>

        <ol>
        {% for item in to_do_list %}
            {% if item["priority"] == "High" %}
                <li> {{item["content"]}} &nbsp; <code style = "background-color: red">{{item["priority"]}}</code> &nbsp; {{item["tags"]}} &nbsp;{{item["time"]}} <input type="checkbox" name="done"> &nbsp; <a href="/remove/{{item["content"]}}">remove</a> </li>
            {% elif item["priority"] == "Medium" %}
                <li> {{item["content"]}} &nbsp; <code style = "background-color: orange">{{item["priority"]}}</code> &nbsp; {{item["tags"]}} &nbsp;{{item["time"]}} <input type="checkbox" name="done"> &nbsp; <a href="/remove/{{item["content"]}}">remove</a> </li>
            {% elif item["priority"] == "Low" %}
                <li> {{item["content"]}} &nbsp; <code style ="background-color: yellow">{{item["priority"]}}</code> &nbsp; {{item["tags"]}} &nbsp;{{item["time"]}} <input type="checkbox" name="done"> &nbsp; <a href="/remove/{{item["content"]}}">remove</a> </li>
            {% else %}
                <li> {{item["content"]}} &nbsp; {{item["tags"]}} &nbsp;{{item["time"]}} <input type="checkbox" name="done"> &nbsp; <a href="/remove/{{item["content"]}}">remove</a> </li>
            {% endif %}
        {% endfor %}
        </ol>

        <hr>

        <footer class="footer">
            <div class="container">
                <p class="text-muted"><small>©Yixuan Qiu and Luhang Sun</small></p>
            </div>
        </footer>

    </body>

</html>